FULL_ENDPOINT=https://<YOUR_RESOURCE_NAME>.openai.azure.com/openai/deployments/<YOUR_DEPLOYMENT_NAME>/chat/completions?api-version=2025-0101
ENDPOINT=https://<YOUR_RESOURCE_NAME>.openai.azure.com/
API_KEY=<API_KEY>
API_VERSION=2025-01-01
GPT_MODEL=gpt-4o
